# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
*.swp
*.bak

# Packaging and Build
build_deb/
dist/
rpmbuild/
wireguard-manager.spec.tmp
'~'/

# Logs
*.log
/tmp/wireguard-gui.log

# Project Specific
GEMINI.md
wireguard-gui.desktop

# System files
.DS_Store
Thumbs.db
